body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
h1 {
    color:black;
}
button {
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
    background-color:blue;
    color:brown;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: azure;
}
#text {
    font-size: 10px;
    margin-bottom: 20px;
}